
ul {
    padding: 0;
    margin: 30px;
    list-style-type: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

}
ul p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
ul li {
    min-width: 0;
    
}
ul li:nth-last-child(3) {
    background-color: #ccc;
    width: 400px;
    width: 200px;
}
ul li:nth-last-child(2) {
    background-color: #f90;
    flex: 1;
}
ul li:nth-last-child(1) {
    background-color: #f40;
}