ul { /* 导航样式 */
    margin: 0;
    padding: 0;
}
ul li { /* 导航样式*/
    cursor: pointer;        /* 光标类型 */
    padding-left: 10px;
    list-style-type: none;
}
.nav { /* 首链接样式 */
    font-size: 0;   /* 清除布局间隙 */
}
.nav > li {
    font:italic 17px times, serif;
    color: #5d5636;
    border-right: 1px #5d5636 solid;
    width: 109px;
    background: #fffabf;
    line-height: 30px;
    display:inline-block; /* 水平显示 */
    position: relative; /* 配合直属次菜单定位,与子元素对齐 */
}
.nav > li:hover {
    color: #200;
    background-color: #eeeabe;
}
.nav ul { /* 次链接样式 */
    display: none;   /* 不显示次列表 */
    background-color: #dddddd;
    border: 1px #666 solid;
    width: 160px;
    color: #000;
    font: normal 11px Georgia,Serif;
    font-size: 11px;
    position: absolute;    /* 绝对定位，改变文档流，为了不影响父元素height */
    left: 0;  /* 改变绝对定位文档定位位置，不使用时会与父元素文本对齐 */
}
.nav ul li { /* 次链接样式 */
    line-height: 28px;
    width: 96%;
    padding-left: 4%;
    position: relative; /* 配合直属次菜单定位,与子元素对齐 */
}
.nav ul li:hover {
    background-color: #cccccc;
    color: #FF0000;
}
li:hover > ul { /* 悬浮时直属次列表 */
    display: block;  /* 显示 */
    }
.nav > li > ul { /* 二级菜单 */
    margin-top: 2px;
}
ul ul li:hover ul { /* 三级菜单 */
    left: 155px;
    top: 4px;
}
li:after {     /* 项目右边的箭头 */
    content: "\00bb";
    float: right;
    margin-right: 8px;
}