/*设置字符编码*/
@charset "utf-8";

/*与body不同，即使网页不满于屏幕时，背景颜色也会改变*/
html {
  color: #666;
  background-color: #f6f6f6;
}

.article {
  width: 960px;
  margin: 0 auto;
}

/* 左侧栏 */
/*左浮动*/
.aside {
  top: 20px;
  left: 10px;
}

a {
  display: block;
  width: 220px;
}

.aside-y {
  width: 206px;
  height: 354px;
  margin-top: 80px;
  background: url(../image/sjjy/y.png) no-repeat;
}

/* 右侧栏 */

.regsiter {
  top: 20px;
  left: 230px;
  width: 670px;
}