/*设置字符编码*/
@charset "utf-8";

/* 
   @名称: base
   @功能: 消除不同浏览器对HTML文本呈现的差异
*/

/*删除多余的空白和边框*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: none;
}

/* 表单元素并不继承父级 font 的问题 */

body,
button,
input,
select,
textarea {
  font: 12px;
}

/*去除轮廓*/

input,
textarea {
  outline: none;
  resize: none;
}

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */

html{
	background:#fff;
	color:#000;
}

/*链接样式*/

a {
  text-decoration: none;
}

/*清除图片下方留白*/

img {
  vertical-align: middle;
}

/*删除列表前缀*/

li {
  list-style: none;
}

/*去除加粗*/

th {
  font-weight: 400;
}
/*删除表单轮廓*/

input，
textarea {
  outline-style: none;
}

/* 浮动 */

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

/*清除浮动*/

.clearfix::after,
.clearfix::before {
	display: table;
	content: "";
}
.clearfix::after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/*定位*/

.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}