/*设置字符编码*/
@charset "utf-8";

html {
  color: #666;
  background-color: #f6f6f6;
}
.article {
  width: 960px;
  margin: 0 auto;

}

/* 左侧栏 */

.aside {
  top: 20px;
  left: 10px;
}

a {
  display: block;
  width: 220px;
}

/* 右侧栏 */

.regsiter {
  top: 20px;
  left: 230px;
}